<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD aplication</title>
</head>
<body>

    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/tasks'>Tasks</a></li>
        <!-- con esto indico que si el usuario esta autenticado voy a poder ver el acceso a la pestaña logout, de lo contrario no la voy a poder ver: 'user' cundo estamos autenticados djngo cre un objeto global que todas las plantillas  pueden acceder, ese objeto es user ; si no esta autenticado muestra el  'Sign Up'-->
        {% if user.is_authenticated %}
        <li><a href='/logout'>Log out</a></li>
        {% else %}
        <li><a href='/signup'>Sign Up</a></li>
        {% endif %}
    </ul>
    <!-- esta es la plantilla que va a contener el contenido compartido por los demas html : lo que esta en medio de esas dos porciones de  codigo con llaves son  otras porciones de  interfaz-->
    {% block content %}
    {% endblock %}
</body>
</html>