<!-- este html va a  a heredar de base.html, lo que significaa que hereda sus propiedades -->
{% extends 'base.html' %}

<!-- con las llaves y el h1 dentro se muestra el h1 dentro de la estructura de home.html -->
{% block content %}
<h1>home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ratione cupiditate eaque laudantium optio, sequi voluptates illo nisi exercitationem in. Laborum fugit iusto, dolore quod delectus at quos eligendi asperiores libero nesciunt illo molestias sit rerum rem fuga voluptate! Ex, veritatis? Vel obcaecati dolorum quia beatae voluptatum assumenda distinctio error qui quas, accusantium facilis nisi nihil voluptates inventore totam ipsam a? Impedit id aut repellat ullam explicabo modi aspernatur in, eius autem? Rem accusantium porro eum rerum reprehenderit impedit illum, maiores velit cumque. Pariatur voluptate sint laboriosam recusandae itaque! Quibusdam repellat ex qui voluptatibus expedita officia eum ducimus eligendi libero.</p>
{% endblock %}