{% extends 'base.html' %}

{% block content %}

<h1>{{title}}</h1>
<!-- el tasks que le paso desde 'Views' -->
<ul>
    {% for task in tasks %}
    <li>
        
        <a href="{% url 'task_detail' task.id %}">
            {% if task.important %}
        <strong>{{task.title}}</strong>
        {% else %}

            {{task.title}}
        {% endif %}

        <p>{{task.description}}</p>
        <p>{{task.user.username}}</p>
        <!-- esto solo lo tienen las tareas que fueron compeltas, las tareas normales no las tiene -->
        <p>{{task.datecompleted|date:'M j Y:i'}}</p>
        
        </a>
        
    </li>
    {% endfor %}
</ul>

{% endblock %}