{% extends 'base.html' %}

{% block content %}

<h1>Pending Tasks </h1>
<!-- el tasks que le paso desde 'Views' -->
<ul>
    {% for task in tasks %}
    <li>
        <!--aca lo que hago es decir que cuando haga click en la etiqueta A, va a redirijir a la url task_detail (nombrada en urls.py), y el segundo parametro es el parametro que va a recibir:task.id el ID de la tarea, del Modelo  -->
        <a href="{% url 'task_detail' task.id %}">
            {% if task.important %}
        <strong>{{task.title}}</strong>
        {% else %}

            {{task.title}}
        {% endif %}

        <p>{{task.description}}</p>
        <p>{{task.user.username}}</p>
        
        </a>
        
    </li>
    {% endfor %}
</ul>

{% endblock %}